.title {
  color: #150931;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 20px 0;
  line-height: 40px;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 130%;
  }
}

.subtitle {
  font-size: 23px;
  font-weight: 600;
  color: #ff008a;
  text-align: center;
  line-height: 130%;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 20px;
  }
}

/* --------------------------------------------------- */

/* header */
.header {
  height: 80px;
}

.header__logo {
  display: flex;
  animation: none;
}

.header__logo-mobile {
  display: none;
}

.header__line {
  margin-bottom: 18px;
}

.header__line {
  height: 5px;
  margin-bottom: 24px;
}

.header__square img {
  width: 32px;
  height: 32px;
  transform: translateY(-1px);
}

.header__Ai4G img {
  width: 110.8px;
  height: 35px;
  transform: translate(-15px, -2px);
}

.header__triangle img {
  width: 37px;
  height: 31px;
}

.header__triangle {
  transform: translateX(-2px);
}

.header__logo-suptitle {
  width: 95px;
  font-size: 9.5px;
  line-height: 10px;
  animation: header-suptext-new-year 1.7s forwards;
}

.header__triangle img {
  animation: header-triangle-new-year 0.9s forwards;
}

.top__title {
  min-width: 95px;
  margin-right: 10px;
  font-size: 24px;
  line-height: 29px;
}

.top__suptitle {
  font-size: 18px;
  line-height: 22px;
}

.top__inner {
  padding-top: 85px;
  display: flex;
  justify-content: center;
}

.top {
  height: 200px;
}

@keyframes header-suptext-new-year {
  0% {
    opacity: 0;
  }

  55% {
    top: 38px;
    left: 90px;
    opacity: 0;
  }

  100% {
    top: 38px;
    left: 22px;
    opacity: 1;
  }
}

@keyframes header-triangle-new-year {
  0% {
    transform: translate(-140px, 0px);
    opacity: 0.1;
  }

  100% {
    transform: translate(-32px, 0px);
    opacity: 1;
  }
}

.header__line {
  margin-bottom: 11px;
}

/* ----------------------------------- */
.quiz-patterns {
  padding: 80px 0;
  margin: 20px 0 0 0;
  background: #fff;
}
.quiz-patterns__container {
  max-width: 1200px;
}

.quiz-patterns__block {
  margin: 0 auto;
  max-width: 800px;
  background: #fff;
  color: #150931;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
  @media (max-width: 450px) {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.quiz-patterns__contant {
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.quiz-patterns__title {
  margin: 0 0 20px 0;
}

.quiz-patterns__subtitle {
  color: #150931;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.8;
  margin: 0px 0px 20px 0px;
}

.quiz-patterns__description {
  color: #000;
  margin: 0 auto;
  max-width: 800px;
  font-size: 18px;
  line-height: 130%;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.quiz-patterns__description p {
  font-weight: 500;
}

.quiz-patterns__description p:not(:last-child) {
  margin: 0 0 10px 0;
}

.quiz-patterns__description ul {
  margin: 0 0 20px 0;
}

.quiz-patterns__description ul li {
  position: relative;
  padding-left: 15px;
  margin-left: 5px;
}

.quiz-patterns__description ul li:not(:last-child) {
  margin-bottom: 5px;
}

.quiz-patterns__description ul li::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  left: 0;
  top: 7px;
  background-color: #000;
  border-radius: 50%;
}

.quiz-patterns__description ol {
  padding-left: 20px;
  counter-reset: none;
  margin: 0 0 10px 0;
}

.quiz-patterns__description ol li {
  margin-left: 5px;
  list-style: decimal;
  color: inherit;
  text-align: left;
}
.quiz-patterns__description ol li:not(:last-child) {
  margin-bottom: 5px;
}

.quiz-patterns__description ol li::marker {
  font-weight: bold;
  font-size: 16px;
}
.quiz-patterns__instruction {
  color: #ff008a;
  display: flex;
  gap: 5px;
  align-items: center;
}
.quiz-patterns__instruction span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ff008a;
  color: #ff008a;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  flex-shrink: 0;
  font-style: italic;
  line-height: 1;
  font-family: Robor;
}
.question {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 130%;
  }
  @media (max-width: 425px) {
    font-size: 18px;
  }
}

.question span {
  font-weight: 600;
}
.option {
  display: block;
  padding: 20px 16px;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  color: #000;
  transition: all 0.3s ease 0s;
  @media (max-width: 600px) {
    font-size: 20px;
  }
}
.option:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
/* Убираем рамку фокуса */
.option:hover,
.option:focus {
  background: rgb(235, 235, 235);
  outline: none; /* Убираем любую оформляющую рамку вокруг */
  box-shadow: none;
}
.option:hover {
  background: rgb(235, 235, 235);
  box-shadow: none;
}
.radio-label {
  position: relative;
  cursor: pointer; /* Курсор также указывает на интерактивный элемент */
  padding-left: 30px; /* Отступ для пользовательского радио */
}

.radio-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #71717a;
  background: white;
  transition: background 0.2s ease, border-color 0.2s ease;
}

input[type="radio"] {
  display: none; /* Скрываем стандартные радио-кнопки */
}

input[type="radio"]:focus {
  outline: none;
}

input[type="radio"]:checked + .radio-label:before {
  border: 1px solid #0060ff;
  background: #fff;
  outline: none;
}

/* Добавляем стиль для .option, если внутри input[type="radio"]:checked */
.option:has(input[type="radio"]:checked) {
  background: #0060ff;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.button-container {
  text-align: right;
}
.quiz-patterns__navigation {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 0 0px;
  @media (max-width: 530px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
  }
}
.quiz-patterns__navigation-result {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 20px 0px;
  @media (max-width: 530px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
  }
}

.quiz-patterns__button {
  display: flex;
  align-self: flex-end;
  align-items: center;
  background: #0060ff;
  border-radius: 8px;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  height: 40px;
  justify-content: center;
  min-width: 200px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  height: 52px;
  @media (max-width: 530px) {
    align-self: flex-start;
    width: 100%;
    text-align: center;
  }
}

.quiz-patterns__button:hover {
  background: #0149bd;
}
.quiz-patterns__button:active {
  transform: translateY(1px);
}

.quiz-patterns__button_result {
  align-self: flex-start;
  border: 1px solid #0060ff;
  background-color: #fff;
  color: #0060ff;
}
.quiz-patterns__button_result:hover {
  border: 1px solid #0149bd;
  background-color: #0149bd;
  color: #fff;
}
.quiz-patterns__button_prev {
  border: 1px solid #0060ff;
  background-color: #fff;
  color: #0060ff;
}

.quiz-patterns__button_prev:hover {
  border: 1px solid #0149bd;
  background-color: #0149bd;
  color: #fff;
}
.question-counter {
  text-align: right;
  font-size: 16px;
  margin: 0 0 20px 0;
  color: #a6a6a6;
  @media (max-width: 600px) {
    font-size: 16px;
    margin: 0 0 15px 0;
    text-align: center;
  }
}

/* --------------------- */

.result__contain {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result__content {
  font-size: 18px;
  line-height: 140%;
  margin: 0px 0px 20px 0px;
}

.result__content span {
  font-weight: 500;
}

.category-label {
  margin-bottom: 30px;
  position: relative;
  padding-left: 35px;
  font-weight: 900;
  font-size: 29px;
  line-height: 140%;
  @media (max-width: 768px) {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
  }
  @media (max-width: 600px) {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
  }
  @media (max-width: 380px) {
    margin-bottom: 15px;
    font-size: 18px;
  }
}
.category-label::before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  height: 25px;
  width: 25px;
  @media (max-width: 768px) {
    top: 4px;
  }
}

.category-block__clock .indicator {
  background-color: #02cc6b;
}
.category-block__hands .indicator {
  background-color: #cc6b02;
}
.category-block__man .indicator {
  background-color: #6b02cc;
}
.category-block__mind .indicator {
  background-color: #cc026b;
}
.category-block__clock .subcategory-title {
  color: #498568;
}
.category-block__hands .subcategory-title {
  color: #856849;
}
.category-block__man .subcategory-title {
  color: #684985;
}
.category-block__mind .subcategory-title {
  color: #854968;
}
.category-block__clock .category-label {
  color: #02cc6b;
}
.category-block__hands .category-label {
  color: #cc6b02;
}
.category-block__man .category-label {
  color: #6b02cc;
}
.category-block__mind .category-label {
  color: #cc026b;
}
.category-block__clock .scale-bar {
  background-color: #aceecf;
}
.category-block__hands .scale-bar {
  background-color: #eecfac;
}
.category-block__man .scale-bar {
  background-color: #cfacee;
}
.category-block__mind .scale-bar {
  background-color: #eeaccf;
}
.category-block__clock .scale-bar-container {
  background-color: #e9faf3;
}
.category-block__hands .scale-bar-container {
  background-color: #f8ecdd;
}
.category-block__man .scale-bar-container {
  background-color: #ecddf8;
}
.category-block__mind .scale-bar-container {
  background-color: #f8ddec;
}
.category-block__clock .category-label::before {
  background: url(../img/test-patterns/clock.svg) 0 0 / 100% 100% no-repeat;
}
.category-block__hands .category-label::before {
  background: url(../img/test-patterns/hands.svg) 0 0 / 100% 100% no-repeat;
}
.category-block__man .category-label::before {
  background: url(../img/test-patterns/man.svg) 0 0 / 100% 100% no-repeat;
}
.category-block__mind .category-label::before {
  background: url(../img/test-patterns/mind.svg) 0 0 / 100% 100% no-repeat;
}

.result__content ul {
  margin: 0 0 15px 0;
}
.result__content ul li {
  position: relative;
  padding-left: 15px;
  margin: 0 0 0 10px;
}
.result__content ul li::before {
  position: absolute;
  content: "-";
  font-size: 16px;
  left: 0;
  top: 0;
}
/* .error-message------------- */
.error-message {
  color: red;
  font-size: 16px;
  text-align: center;
  line-height: 130%;
}
.error-message-fio {
  color: red;
  font-size: 16px;
  text-align: center;
  line-height: 130%;
  position: relative;
  top: -10px;
}

@media (max-width: 600px) {
  .quiz-patterns {
    padding: 90px 0;
  }
  .quiz-patterns__container {
    padding: 0 15px;
  }

  .quiz-patterns__title {
    margin: 0 0 20px;
  }
}

.pattern-scales {
  margin-bottom: 20px;
}

.pattern-scale {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.category-block {
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid #dde3e8;
  background: #ffffff;
  border-radius: 5px;
  @media (max-width: 768px) {
    padding: 15px;
  }
  @media (max-width: 390px) {
    padding: 10px;
  }
}

.subcategory-content {
  display: grid;
  gap: 20px;
}
.subcategory-block:not(:last-child) {
  margin-bottom: 60px;
  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.subcategory-title {
  text-transform: uppercase;
  font-family: "PT Sans";
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 600;
  @media (max-width: 768px) {
    font-size: 16px;
    margin-bottom: 20px;
  }
  @media (max-width: 380px) {
    font-size: 16px;
  }
}

.scale-status {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  color: #767676;
  display: inline-block;
  border: 1px solid #767676;
  padding: 5px 10px;
  border-radius: 24px;
  text-transform: uppercase;
  align-self: flex-start;
  background: #e4e4e457;
}

.scale-bar-container {
  position: relative;
  border-radius: 5px;
  height: 8px;
  overflow: hidden;
  background-color: #e9faf3;
}
.scale-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.scale-container {
  position: relative;
  height: 40px;
}
.scale-labels {
  position: absolute;
  bottom: -20px; /* Под надписью */
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
  gap: 10px;
}
.indicator {
  opacity: 0; /* По умолчанию скрыт */
  position: absolute;
  top: -10px;
  width: 20px;
  height: 10px;
  border-radius: 8px;
  z-index: 2;
}

.active-indicator {
  opacity: 1; /* Если активный, то видим */
}

.indicator:not(.active-indicator) {
  opacity: 0; /* скрыт для неактивного индикатора */
}
.subcategory-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.analytics-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.analytics-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.scale-line {
  top: 29px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 8px;
  position: absolute;
}
.scale-labels-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Исходное состояние элемента (скрыт) */
.subcategory-wrapper {
  opacity: 0;
  transform: translateY(20px); /* Сдвиг вниз */
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

/* Активное состояние (будет применяться через класс) */
.subcategory-wrapper._anim-active {
  opacity: 1;
  transform: translateY(0); /* Возвращаемся на место */
}

.subcategory-title {
  opacity: 0; /* Скрыт по умолчанию */
  transform: translateY(20px); /* Сдвинут вниз */
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.subcategory-title._anim-active {
  opacity: 1;
  transform: translateY(0);
}
.category-label {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.category-label._anim-active {
  opacity: 1;
  transform: translateY(0);
}

/* Таблицы теста-=================================== */
#result-table-container {
  margin: 0px 0px 60px 0px;
}
#result-table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 30px;
  table-layout: auto;
}
#result-table-container h2 {
  color: #150931;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.result-table-content {
  background: #fff;
  color: #150931;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  line-height: 140%;
  font-size: 14px;
}
.result-table-content br {
  display: none;
}

#reference-table-container {
  margin: 0px 0px 60px 0px;
}
.reference-table-content {
  background: #fff;
  color: #150931;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  line-height: 140%;
  font-size: 14px;
}
#reference-table-container h2 {
  color: #150931;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.8;
  margin-bottom: 20px;
}
#reference-table-container h3 {
  font-size: 24px;
  line-height: 140%;
  font-weight: 500;
  margin-bottom: 10px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  color: #150931;
}

#reference-table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 30px;
  table-layout: auto;
}

th {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: left;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
  color: #444;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}

td[rowspan] {
  vertical-align: top;
}

table {
  margin-bottom: 20px;
}

.reference__subtitlecategory {
  background-color: #f4f4f5;
  color: #000;
  font-weight: 600;
  border: 1px solid #ddd;
  padding: 10px;
  color: #444;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}

td[rowspan] {
  vertical-align: top;
}

td.question-cell[rowspan] {
  vertical-align: middle;
}
.question-cell span {
  font-weight: 500;
}
.question-cell br {
  display: none;
}
td.question-cell-number[rowspan] {
  vertical-align: middle;
  text-align: center;
}
.question-cell-number span {
  font-weight: 500;
}

.pattern-result__label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 100%;
  display: flex;
  justify-content: space-between;
}

/* Стили для подсказки ==================================================*/
/* Общий стиль контейнера заголовка и иконки */
.scale-bar-title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; /* Увеличенный промежуток между элементами */
  position: relative; /* Поддержка абсолютного позиционирования тултипа */
}

/* Заголовок, отображающий название */
.scale-bar-title {
  font-weight: 600; /* Более жирный шрифт для выделения */
  line-height: 1.5; /* Увеличена высота строки для лучшей читаемости */
  color: #333; /* Темный цвет текста */
}

/* Стиль иконки информации */
.info-icon {
}
.info-icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(210, 210, 210);
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-style: italic;
  line-height: 1;
  font-family: Robor;
}

/* Стиль тултипа */
.tooltiptest {
  display: none;
  position: absolute;
  left: 0;
  bottom: 30px;
  background-color: #575757;
  color: white;
  padding: 12px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  z-index: 2000;
  width: 300px;
  font-size: 14px;
  line-height: 140%;
}

.tooltiptest.visible {
  display: block; /* Показать тултип */
}

/* Поведение для мобильных устройств */
@media (max-width: 768px) {
  .tooltiptest {
    padding: 10px 10px;
    width: 280px;
  }
}

/* CSS */
#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  text-align: center;
  color: #fff;
}

.spinner {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 0 auto 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader-text {
  font-size: 16px;
  margin-top: 10px;
}
#loader-test {
  display: none;
  text-align: center;
  padding: 20px;
}

#loader-test span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* форма данных */
.quiz-patterns__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 0 30px 0;
}
.quiz-patterns__input {
  padding: 20px 18px;
  font-size: 16px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  line-height: 140%;
}
.quiz-patterns__input:focus {
  outline: none;
}

.quiz-patterns__button_form {
  align-self: center;
}
.quiz-patterns__form-title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 130%;
}
.quiz-patterns__fio-display {
  font-size: 18px;
  font-weight: 500;
  color: #0386ff;
  margin-bottom: 10px;
  text-align: center;
}
.test-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #000;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
  @media (max-width: 600px) {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
  }
}
.test-info__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  @media (max-width: 600px) {
    font-size: 14px;
  }
}
.test-info__item span {
  font-weight: 400;
}
