.title {
  color: #150931;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 20px 0;
  line-height: 40px;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 130%;
  }
}

.subtitle {
  font-size: 23px;
  font-weight: 600;
  color: #ff008a;
  text-align: center;
  line-height: 130%;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 20px;
  }
}

/* --------------------------------------------------- */

/* header */
.header {
  height: 80px;
}

.header__logo {
  display: flex;
  animation: none;
}

.header__logo-mobile {
  display: none;
}

.header__line {
  margin-bottom: 18px;
}

.header__line {
  height: 5px;
  margin-bottom: 24px;
}

.header__square img {
  width: 32px;
  height: 32px;
  transform: translateY(-1px);
}

.header__Ai4G img {
  width: 110.8px;
  height: 35px;
  transform: translate(-15px, -2px);
}

.header__triangle img {
  width: 37px;
  height: 31px;
}

.header__triangle {
  transform: translateX(-2px);
}

.header__logo-suptitle {
  width: 95px;
  font-size: 9.5px;
  line-height: 10px;
  animation: header-suptext-new-year 1.7s forwards;
}

.header__triangle img {
  animation: header-triangle-new-year 0.9s forwards;
}

.top__title {
  min-width: 95px;
  margin-right: 10px;
  font-size: 24px;
  line-height: 29px;
}

.top__suptitle {
  font-size: 18px;
  line-height: 22px;
}

.top__inner {
  padding-top: 85px;
  display: flex;
  justify-content: center;
}

.top {
  height: 200px;
}

@keyframes header-suptext-new-year {
  0% {
    opacity: 0;
  }

  55% {
    top: 38px;
    left: 90px;
    opacity: 0;
  }

  100% {
    top: 38px;
    left: 22px;
    opacity: 1;
  }
}

@keyframes header-triangle-new-year {
  0% {
    transform: translate(-140px, 0px);
    opacity: 0.1;
  }

  100% {
    transform: translate(-32px, 0px);
    opacity: 1;
  }
}

.header__line {
  margin-bottom: 11px;
}

/* ----------------------------------- */
.quiz-patterns {
  padding: 80px 0;
  margin: 20px 0 0 0;
  background: #fff;
}
.quiz-patterns__container {
  max-width: 1200px;
}

.quiz-patterns__block {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  color: #150931;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.quiz-patterns__contant {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-patterns__title {
  margin: 0 0 20px 0;
}

.quiz-patterns__subtitle {
  color: #150931;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.8;
}

.question {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
}

.question span {
  font-weight: 600;
}
.option {
  display: block;
  margin: 15px 0;
  padding: 20px 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background: rgb(245, 245, 245);
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  transition: background 0.15s ease-in-out;
}
/* Убираем рамку фокуса */
.option:hover,
.option:focus {
  background: rgb(235, 235, 235);
  outline: none; /* Убираем любую оформляющую рамку вокруг */
}
.option:hover {
  background: rgb(235, 235, 235);
}

input[type="radio"] {
  display: none; /* Скрываем стандартные радио-кнопки */
}

.radio-label {
  position: relative;
  cursor: pointer; /* Курсор также указывает на интерактивный элемент */
  padding-left: 30px; /* Отступ для пользовательского радио */
}

.radio-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #71717a;
  background: white;
  transition: background 0.2s ease, border-color 0.2s ease;
}

input[type="radio"]:checked + .radio-label:before {
  border: 1px solid #06ea6f;
  background: #06ea6f;
}

.button-container {
  text-align: right;
}
.quiz-patterns__navigation {
  display: flex;
  justify-content: space-between;
}

.quiz-patterns__button {
  display: flex;
  align-self: flex-end;
  align-items: center;
  background: #06ea6f;
  border-radius: 37px;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  border: none;
  color: #150931;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin: 15px 0px 0px 0px;
}

.quiz-patterns__button:active {
  transform: translateY(1px);
}

.quiz-patterns__button_result {
  align-self: flex-start;
}

.question-counter {
  text-align: right;
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #150931;
}

/* --------------------- */

.result__contain {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result__content {
  font-size: 18px;
  line-height: 140%;
  margin: 0px 0px 20px 0px;
}

.result__content span {
  font-weight: 500;
}

.result__content h3 {
  margin: 0 0 20px 0;
  color: #3b82f6;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.result__content h4 {
  margin: 0 0 10px 0;
  color: #150931;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.result__content ul {
  margin: 0 0 15px 0;
}
.result__content ul li {
  position: relative;
  padding-left: 15px;
  margin: 0 0 0 10px;
}
.result__content ul li::before {
  position: absolute;
  content: "-";
  font-size: 16px;
  left: 0;
  top: 0;
}
/* .error-message------------- */
.error-message {
  color: red;
  font-size: 16px;
  margin: 0 0 10px 0;
  text-align: center;
  line-height: 130%;
}

@media (max-width: 600px) {
  .quiz-patterns {
    padding: 90px 0;
  }
  .quiz-patterns__container {
    padding: 0 15px;
  }
  .question {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .quiz-patterns__title {
    margin: 0 0 20px;
  }
  .quiz-patterns__block {
    margin: 20px 0 0 0;
  }
  .question-counter {
    font-size: 16px;
    margin: 0 0 15px 0;
  }
  .option {
    font-size: 16px;
  }
}

.pattern-scales {
  margin-bottom: 20px;
}

.pattern-scale {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.scale-bar-container {
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 20px;
  margin: 5px 0;
  width: 100%;
}

.scale-bar-title {
  font-weight: 500;
}

.category-block {
  margin-bottom: 40px;
  /*   padding: 15px; */
  /* border: 1px solid #6ee7b7;
  border-radius: 8px; */
}

.subcategory-content {
  display: grid;
  gap: 5px;
}
.subcategory-block:not(:last-child) {
  margin-bottom: 40px;
}

.subcategory-title {
  font-weight: bold;
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.scale-bar-container {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #00a74d59;
  overflow: hidden;
  height: 15px;
  width: 100%;
}
.scale-bar {
  height: 100%;
  background-color: #00a74d59;
  border-radius: 5px;
  text-align: right; /* Выравнивание текста по правому краю */
  transition: width 0.2s ease;
  height: 100%;
}
/* .pattern-result {
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0px 0px 10px 0px;
} */
.pattern-result {
  padding: 5px 10px;
}

.scale-container {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.scale-labels {
  position: absolute;
  bottom: -20px; /* Под надписью */
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
  gap: 10px;
}
.indicator {
  opacity: 0; /* По умолчанию скрыт */
  position: absolute;
  top: -10px;
  width: 20px;
  height: 10px;
  background-color: #ff008a;
  border-radius: 8px;
  z-index: 2;
}

.active-indicator {
  opacity: 1; /* Если активный, то видим */
}

.indicator:not(.active-indicator) {
  opacity: 0; /* скрыт для неактивного индикатора */
}
.subcategory-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.analytics-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.analytics-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.analytics-block p {
  text-transform: uppercase;
  font-family: "PT Sans";
  font-size: 18px;
}
.scale-line {
  top: 29px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 8px;
  position: absolute;
}
.scale-labels-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
